# Cleaning PAT data

In [58]:
# Import libraries
import pandas as pd

In [125]:
# Importing files
data = pd.read_csv("C:/Users/Debbie.Chong/Virtual_env/PAT2025_IDC.csv")

In [126]:
data.head()

,Family name,Given name,Middle names,Scale score,Band,Unique ID,Username,Date of birth,Gender,Year level (current),Tags (current),Year level (at time of test),Tags (at time of test),Test,Date
0,Abbasi,Qasim,,138.6,135-144,369407.0,369407,03/12/2013,Male,Year 7,"IDC, IDC-External",Year 7,IDC,Test 6,26/05/2025
1,Abbasi,Sarah,,138.4,135-144,385324.0,385324,12/10/2010,Female,Year 10,"IDC, IDC-External",Year 10,IDC,Test 9,26/05/2025
2,Abdelaal,Ali,NaN,133.7,125-134,NaN,401541,28/09/2010,Male,Year 9,"IDC, IDC-External",Year 9,IDC,Test 9,01/09/2025
3,Abdelhamid,Omar,NaN,163.9,155 and above,35829.0,35829,29/04/2010,Male,Year 10,IDC,Year 10,IDC,Test 10,30/10/2025
4,Abdelhamid,Tulay,NaN,128.5,125-134,35828.0,35828,02/05/2015,Female,Year 4,IDC,Year 4,IDC,Test 4,27/10/2025

In [127]:
index = ['Family name', 'Given name', 'Middle names', 'Gender', 
         'Date of birth', 'Year level (at time of test)', 'Username']

data = data.pivot(index = index, columns='Test', values='Scale score')

In [128]:
# Removing multi-indexing
data = data.reset_index()

In [129]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Family name                   748 non-null    object
 1   Given name                    748 non-null    object
 2   Middle names                  154 non-null    object
 3   Gender                        748 non-null    object
 4   Date of birth                 748 non-null    object
 5   Year level (at time of test)  748 non-null    object
 6   Username                      748 non-null    int64
 7   Test 1                        47 non-null     float64
 8   Test 10                       82 non-null     float64
 9   Test 2                        56 non-null     float64
 10  Test 3                        58 non-null     float64
 11  Test 4                        62 non-null     float64
 12  Test 5                        64 non-null     float64
 13  Test 6                        119 non-null    float64
 14  Test 7                        86 non-null     float64
 15  Test 8                        91 non-null     float64
 16  Test 9                        83 non-null     float64
dtypes: float64(10), int64(1), object(6)
memory usage: 99.5+ KB

In [130]:
# Rearranging columns
# Start and end columns
col_ord_start = ['Given name', 'Middle names', 'Family name']
cold_ord_end = ['Gender', 'Date of birth', 'Year level (at time of test)', 'Username'] #'PAT Maths Adaptive', 

# Getting test columns
cols = data.columns.tolist()
tests = [col for col in cols if col.startswith('Test')]
tests = sorted(tests, key=lambda x: int(x.split(' ')[1]))

# Rearranging
data = data[col_ord_start + tests + cold_ord_end]

In [131]:
# Getting rid of special characters in name columns
data['Middle names'] = data['Middle names'].str.replace('\xa0', '', regex=False)

In [132]:
# Saving
data.to_csv('PAT2025_Maths_SEQTAUpload_IDC.csv', index=False, header=True, encoding='utf-8')